*.class
*.ear
*.iml
*.jar
*.lock
*.log
*.out
*.pid
*.seed
*.war
.DS_Store
.attach_pid*
.classpath
.gradle
.grunt
.idea
.lock
.lock-wscript
.metadata
.project
.recommenders
.settings
RemoteSystemsTempFiles
WebContent
bin
build
coverage
dependency-reduced-pom.xml
hs_err_pid*
log.txt
logs
node_modules
out
pids
results
target

